@page "/day01"

<PageTitle>Day 1: Secret Entrance</PageTitle>

<div class="page">

    <div class="dial">

        <span class="current-step">
            @CurrentStep
        </span>

        @for (var i = 0; i < 100; i += 5)
        {
            var (x, y) = GetPosition(i);

            <span class="dial-number"
                  style="left:@($"{x}%"); top:@($"{y}%")">
                @i
            </span>
        }

        <span class="dial-number" style="color: white; background-color: @(CurrentDialNumber == 0 ? "limegreen" : "red"); left:@($"{CurrentX}%"); top:@($"{CurrentY}%")">
            @CurrentDialNumber
        </span>
    </div>

</div>

